{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Certificate Login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Please select the certificate</h2>
    <form method=post enctype=multipart/form-data>
      <input type=hidden name="challenge" id="challenge" value="{{challenge}}">
      <input type=hidden name="certificate" id="certificate">
      <input type=file id="file" name=file>
      <input onclick="computeResponse(self)" type=submit value=Login>
    </form>

    <script>
      const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
        e.preventDefault();
    });
    </script>
{% endblock %}