{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My information{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Update Information</h2>
  <form method="post">
    <label for="username">Firstname</label>
    <input name="username" id="username" placeholder="{{g.user['username']}}">
    <label for="firstname">Firstname</label>
    <input name="firstname" id="firstname" placeholder="{{g.user['firstname']}}">
    <label for="lastname">Lastname</label>
    <input name="lastname" id="lastname" placeholder="{{g.user['lastname']}}">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="{{g.user['email']}}">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="*****">
    <input type="submit" value="Update information">
  </form>
  <h2>Revoke Certificates</h2>
  <table id="certificates">
    <TR>
      <TD>valid from</TD>
      <TD>valid until</TD>
      <TD>serial number</TD>
      <TD>Signing algorithm</TD>
      <TD>Action</TD>
    </TR>
    {% for item in certificates %}
    <TR>
       <TD class="c1">{{item.notBefore}}</TD>
       <TD class="c2">{{item.notAfter}}</TD>
       <TD class="c3"><SPAN>{{item.serialNumber}}</SPAN></TD>
       <TD class="c4"><SPAN>{{item.algorithm}}</SPAN></TD>
       <TD><input type="submit" value="Revoke"></TD>
    </TR>
    {% endfor %}
    </table>
    
{% endblock %}